{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<!-- that beutiful text at the top -->
<div class="container text-center">
    <div class="thebigtext">
        What is this project?
    </div>
</div>
<div class="container text-justify">
    <div class="row justify-content-center">
        <div class="col-7">
            <p>This is a small webservice project that allows you to upload a mp3 audio while that then gets transcribed
                and summarized by openAi models. The project was realized as part of OpenAI Whisper, GPT3, Codex &
                DALL-E 2 Hackathon together with colonelWalterKurtz and PioSikorski. </p>
            <a href="https://github.com/AR621/Summ3r-y">https://github.com/AR621/Summ3r-y/a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-7">
            <img src="https://fwcdn.pl/webv/41/01/34101/brudny.34101.4.jpg">
        </div>
    </div>
</div>

{% endblock %}