{% extends "base.html" %}

{% block title %}Example{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="thenotsobigtext">
        How can I use this website?
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <div class="row justify-content-center">
                <h2>Example audio player</h2>
                <hr>
                (work in progress amigo!)
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-dark">Action!</button>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <h2>transcript</h2>
                <hr>
            </div>
            <div class="row justify-content-center"></div>
                 Summarize is a simple web application that allows you to submit an mp3 file or a YouTube video link, which then, through the power of AI, gets summarized for you. You also get a full transcript of the audio or video that you've provided. Both files, the summary and the full transcript can be downloaded after the summarization process is complete.


            <div class="row justify-content-center">
                <h2>summary</h2>
                <hr>
            </div>
            <div class="row justify-content-center">
Summarize is a web application that allows users to submit mp3 or YouTube links for summarization. The AI then produces a summary of the audio or video, as well as a transcript. The summary and transcript files can be downloaded after the summarization process is complete.
            </div>
        </div>
    </div>
</div>


{% endblock %}