{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div id="headlinetext">
        Summar'z3 m3
    </div>
</div>
<!-- quick descitpion what to do -->
<div class="container text-justify">
    <div class="row justify-content-center">
        <div class="col-6">
            <p>chose an audio file and get, a transcript of it. just make sure it is
                mp3 file</p>
        </div>
    </div>
</div>

<!-- upload audio or url -->
<div class="container text-justify">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="mb-3">
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control" id="formFile">
                    <input type="submit" class="btn btn-primary mb-3" id="audio-file-button" name="upload_button"
                        value="upload" onclick="uploadButton()">
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="mb-3">
                <label for="video-url" class="form-label">
                    <p id="url-label">
                        no audio file? just paste the url, we will do the rest ;)
                    </p>
                    <form method="post" enctype="multipart/form-data">
                        <input type="url" placeholder="video url" name="video_url" id="url" class="form-control">
                        <input type="submit" id="url-button" name="url_button" value="paste" onclick="summarizeButton()"
                            class="btn btn-primary mb-3">
                    </form>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}