{% extends "base.html" %}

{% block title %}Example{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="thenotsobigtext">
        How can I use this website?
    </div>
</div>


<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col">
                    <h2>Example audio</h2>
                    <hr>
                </div>
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/-XiHgh5jUMg"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <input type="url" id="example-url" placeholder="https://www.youtube.com/shorts/-XiHgh5jUMg"
                        class="form-control">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="button" id="url-button" class="btn btn-primary mb-3"
                        onclick="pasteExample()">paste</button>
                </div>
            </div>

        </div>
        <div class="col-6" id="example">
            <div class="row justify-content-center">
                <div class="col">
                    <h2>transcript</h2>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    Memois of Sherlock Holmes, by Sir Arthur Conan Doyle, Adventure 6, the Rygate puzzle. It was
                    some
                    time
                    before the health of my friend Mr. Sherlock Holmes recovered from the strain caused by his
                    immense
                    exertions
                    in the spring of 87. The whole question of the Netherlands' Samatra Company and of the colossal
                    schemes
                    of
                    Baron Maapertwee, recent in the minds of the public, and are too intimately concerned with
                    politics
                    and
                    finance to be fitting subjects for this series of sketches. They led, however, in an indirect
                    fashion to
                    a
                    singular and complex problem which gave my friend an opportunity of demonstrating the value of a
                    fresh
                    weapon among the many with which he waged his own.
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <h2>summary</h2>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    The audio transcript is describing how Sherlock Holmes was able to solve a puzzle that was
                    related
                    to
                    the Samatra Company.
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}