{% extends "base.html" %}

{% block title %}Summary{% endblock %}

{% block content %}

<!-- that beutiful text at the top -->
<div class="container text-center">
    <div class="typewriter">
        <div class="thebigtext">
            Summar'z36
        </div>
    </div>
</div>

<!-- the transcript and summary divs -->
<div class="container text-justify"></div>
<div class="row justify-content-center">
    <div class="col-md-5 col-sm-10">
        <div class="row justify-content-center">
            <h2>
                Transcript
                <a href="{{ path_to_transcript }}" id="transcript">
                    ⇩
                </a>
            </h2>
            <hr>
        </div>
        <div class="row justify-content-center">
            <p>{{ audio_transcript }}</p>
        </div>
    </div>
    <div class="col-md-5 col-sm-10">
        <div class="row justify-content-center">
            <h2>
                Summary
                <a href="{{ path_to_summary }}" id="summary">
                    ⇩
                </a>
            </h2>
            <hr>
        </div>
        <div class="row justify-content-center">
            <p>{{ summary_text }}</p>
        </div>
    </div>
</div>
</div>


{% endblock %}