/* https://coolors.co/f5f0e8-9fc6d3-6f1a07-d2bec1-030301 */

#headlinetext {
    font-family: 'VT323', monospace;
    /* font-size: 210px; */
    font-size: 15vw;
    padding-left: 18px;
    text-align: justify;
    display: inline-block;
    line-height: normal;
    word-break: break-word;
    margin-bottom: 1rem;
}

#navbarNav {
    font-family: 'VT323', monospace;
    font-size: 40px;
    background-color: #F5F0E8;
    /* display: flex; */
}

p {
    font-family: 'Arvo', serif;
    /* padding-left: 18px; */
    text-align: justify;
    word-break: keep-all;
}

h2 {
    font-family: 'VT323', monospace;
    text-align: center;
}

.thebigtext {
    font-size: 9vmax;
    font-family: 'VT323', monospace;
    /* padding-left: 18px; */
}

.thenotsobigtext {
    font-size: 6vmax;
    font-family: 'VT323', monospace;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    font-family: 'Arvo', serif;
}

.form-control {
    font-family: 'Arvo', serif;
}

#Summar-z3 {
    font-family: 'VT323', monospace;
    font-size: 16pt;
}

#formFile {
    color: grey;

}

#video-url {
    margin-bottom: 0;
}


#url {
    /* min-width: 33dvw; */
    min-width: auto;
}

#example-url {
    width: 100%;
}

#url-button {
    font-family: 'VT323', monospace;
    font-size: larger;
    margin-top: 4px;
    background-color: #9FC6D3;
    color: black;
    border-color: #6F1A07;
    border-width: 2px;


}


#audio-file-button {
    font-family: 'VT323', monospace;
    font-size: larger;
    margin-top: 4px;
    color: #030301;
    background-color: #9FC6D3;
    border-color: #6F1A07;
    border-width: 2px;

}

#url-label {
    margin-bottom: 8px;
}

#example {
    display: none;
}

/* animation typing zone */
.typewriter p {
    word-wrap: break-word;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.5em solid #6F1A07;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Adjust as needed */
    animation:
        typing 3s steps(40, end),
        blink-caret 2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #6F1A07;
    }
}

.typewriter .thebigtext {
    margin: auto;
    max-width: min-content;
    width: min-content;
    box-sizing: border-box;
    height: min-content;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.3em solid #6F1A07;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Adjust as needed */
    animation:
        typing 2s steps(40, end),
        blink-caret .75s step-end;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #6F1A07;
    }
}